{% extends "base.html.twig" %}
{% block title %}Confirmation de compte - Swoome
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<style>
		html {
			font-size: 16px;
		}
	</style>
{% endblock %}

{% block body %}
	<main class="d-flex flex-column justify-content-center  vh-100">
		<div class="px-4 py-5 text-center">
			<img class="d-block mx-auto mb-4" src="{{asset('logos/logo.png')}}" alt="" height="100">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="display-5 fw-bold col-lg-6 mx-auto">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			<div class="col-lg-6 mx-auto">
				<p class="lead mt-4 mb-4">Si rien ne s'affiche vous pouvez cliquez sur les liens ci-dessous :</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a class="  d-sm-flex justify-content-sm-center px-4 gap-3"><img src="{{asset('app_stores/ios.png')}}" width="250" alt="ios"></a>
					<a href="https://play.google.com/store/apps/details?id=com.kewey.swoome" class="  d-sm-flex justify-content-sm-center btn-lg px-4"><img width="250" src="{{asset('app_stores/android.png')}}" alt="ios"></a>
				</div>
			</div>
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

	<script>

		function launchApp() {
window.location.replace("com.kewey.swoome://");
setTimeout(fallbackToStore, 2000);
};

function fallbackToStore() {
window.location.replace("https://play.google.com/store/apps/details?id=com.kewey.swoome");
};

var userAgent = navigator.userAgent || navigator.vendor || window.opera;

if (/android/i.test(userAgent)) {
setTimeout(launchApp, 2000);
}
	</script>
{% endblock body %}
